footer{
    color: white;
    position: relative;
}
.icons{
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
    background-color: $primary-light-color;
}        
.icons ul{
    display: flex;
    line-height: 100px;
    justify-content: space-around;
}                
.icons li{
    display: flex;
    justify-content: row;
    align-items: center;
}
.icons img{    
    height: 40px;
}
.icons p{
    font-size: 0.8rem;
    margin-left: 0.5rem;
}
.banner{
    height: 560px;
    background-image: url(../assets/img/footer-bg.jpg);
}       
.banner .container{
    display: flex;
}           

.links-wrapper{
    display: flex;
    align-self: center;
    padding: 120px 0;
    flex-grow: 1;
}                
.links-wrapper div{
    margin-right: 1.5rem;
}
.links-wrapper ul{
    margin-bottom: 1rem;
}
.links-wrapper h1{
    font-size: 1.2rem;
    color: white;
    margin-bottom: 0.5rem;
}
.links-wrapper li{
    margin-bottom: 0.3rem;
}
.links-wrapper a{
    color: gray;
    font-weight: 300;
}
.footer-bottom{
    height: 80px;
    width: 100%;
    line-height: 80px;
    background-color: $secondary-color;
    position: absolute;
    bottom: 0;
    z-index: 1000;
}
.container{
        display: flex;
        flex-direction: row;
        align-items: center;
}            
.container a{
    color: white;
    border: 3px solid $primary-color;
    padding: 0.5rem;
}
.container .follow-us{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}
.container h1{
    font-size: 1.2rem;
    margin: 0 0.7rem;
    color: $primary-color;
}        
.container img{
    margin: 0 0.5rem;
}
            
