@import "partials/variables";
// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// COMMON
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 70%;
    margin: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none; 
}
.blue-btn{
    background-color: $primary-light-color;
    color: white;
    padding: 0.7rem 0.7rem
}