@import "partials/variables";
// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// COMMON
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 70%;
    margin: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none; 
}
.blue-btn{
    background-color: $primary-light-color;
    color: white;
    padding: 0.7rem 0.7rem
}

// MAIN
main{
    background-color: black;
    position: relative;
}
main .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.wrapper{
    width: calc(100% / 6);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}   
.wrapper .productsInfo{
    margin: 0 1rem;
}    
.wrapper .productsInfo img{
    width: 100%;        
}
.wrapper .productsInfo p{
    font-weight: 300;
    font-size: 0.8rem;
    color: white;
}