// HEADER
header{
    padding: 1rem auto;
}
.pre-nav{
    background-color: $primary-light-color;
}
.pre-nav .container{
    justify-content: end;
    font-size: 0.8rem;
    color: white;
}
.pre-nav .container p{
    margin-left: 1rem;
}
header .container{
    align-items: center;
    display: flex;
}
.header_logo img{
    height: 70px;  
}
nav{
    display: inline-block;
    width: 100%;
    height: 100px;
}    
.active{
    color: $primary-color;
    border-bottom: 4px solid $primary-color;
}

nav ul{
    display: flex;
    justify-content: center;
}
nav li{
    margin-left: 1.5rem;
    line-height: 96px;
}         
nav a{
    font-weight: bold;
    color: inherit;
    height: 100%;
}

// BANNER
.main-banner div {
    height: 50vh;
}
.main-banner div img{
    width: 100%;
} 
.main-banner .blue-btn{
        position: absolute;
        left: 15%;
        bottom: 30%;
        z-index: 1000;
}