main{
    background-color: black;
    position: relative;
}
main .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.wrapper{
    width: calc(100% / 6);
}   
.wrapper .productsInfo{
    margin: 0 1rem;
}    
.wrapper .productsInfo img{
    width: 100%;        
}
.wrapper .productsInfo p{
    font-weight: 300;
    font-size: 0.8rem;
    color: white;
}
